.middle-container {
    width: 100%;
    /* border: 2px solid red; */
    height: 43vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}