.top-states-container {
    background-color: #fff;
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    padding: 1.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}